#page-create-orphanage {
  display: flex;
}

#page-create-orphanage main {
  width: 700px;
}

form.create-orphanage-form {
  width: 700px;
  margin: 64px auto;

  background: var(--text);
  border: 1px solid var(--border);
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}

form.create-orphanage-form .leaflet-container {
  margin-bottom: 4rem;
  border: 1px solid var(--color-gray);
  border-radius: 20px;
}

form.create-orphanage-form fieldset {
  border: 0;
}

form.create-orphanage-form fieldset + fieldset {
  margin-top: 80px;
}

form.create-orphanage-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: var(--legend);
  font-weight: 700;

  border-bottom: 1px solid var(--border);
  margin-bottom: 40px;
  padding-bottom: 24px;
}

form.create-orphanage-form .input-block + .input-block {
  margin-top: 24px;
}

form.create-orphanage-form .input-block label {
  display: flex;
  color: var(--input-legend);
  margin-bottom: 8px;
  line-height: 24px;
}

form.create-orphanage-form .input-block label span {
  font-size: 14px;
  color: var(--input-legend);
  margin-left: 24px;
  line-height: 24px;
}

form.create-orphanage-form .input-block input,
form.create-orphanage-form .input-block textarea {
  width: 100%;
  background: var(--input-background);
  border: 1px solid var(--border);
  border-radius: 20px;
  outline: none;
  color: var(--legend);
}

form.create-orphanage-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

form.create-orphanage-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 1.6rem;
  line-height: 2.8rem;
}

form.create-orphanage-form .input-block input:focus {
  border-color: var(--color-medium-blue);
}
form.create-orphanage-form .input-block textarea:focus {
  border-color: var(--color-medium-blue);
}

form.create-orphanage-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.6rem;
}

form.create-orphanage-form .input-block .images-container .new-image {
  height: 9.6rem;
  background: var(--input-background);
  border: 0.1rem dashed var(--image-border);
  border-radius: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

form.create-orphanage-form .input-block .images-container img {
  width: 100%;
  height: 9.6rem;
  object-fit: cover;
  border-radius: 2rem;
}

form.create-orphanage-form .input-block input[type='file'] {
  display: none;
}

form.create-orphanage-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.create-orphanage-form .input-block .button-select button {
  height: 6.4rem;
  background: var(--input-background);
  border: 0.1rem solid var(--border);
  color: var(--legend);
  cursor: pointer;
  outline-color: var(--color-medium-blue);
}

form.create-orphanage-form .input-block .button-select button.active {
  background: var(--color-light-green);
  border: 0.1rem solid var(--color-soft-green);
  color: var(--color-green);
}

form.create-orphanage-form .input-block .button-select button:first-child {
  border-radius: 2rem 0px 0px 2rem;
}

form.create-orphanage-form .input-block .button-select button:last-child {
  border-radius: 0 2rem 2rem 0;
  border-left: 0;
}

form.create-orphanage-form button.confirm-button {
  margin-top: 6.4rem;

  width: 100%;
  height: 6.4rem;
  border: 0;
  cursor: pointer;
  background: var(--button-green);
  border-radius: 2rem;
  color: var(--text);
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
  outline-color: var(--button-green);
}

form.create-orphanage-form button.confirm-button svg {
  margin-right: 1.6rem;
}

form.create-orphanage-form button.confirm-button:hover {
  background: var(--button-green-hover);
}
