.page-message-success {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  background-color: var(--color-pink);
}

.confirmation {
  background-color: var(--color-green);
}

.page-message-success main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-message-success main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-message-success main div h1 {
  font: 800 8rem 'Nunito';
  color: var(--text);

  margin-bottom: 3.2rem;
}

.page-message-success main div h2 {
  max-width: 39.2rem;

  font: normal 2.4rem 'Nunito';
  color: var(--text);
  line-height: 3.4rem;
  text-align: center;

  margin-bottom: 6rem;
}

.page-message-success main div a {
  width: 24.3rem;
  height: 6.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;

  font: 800 1.8rem 'Nunito';
  color: var(--text);
  text-decoration: none;
  outline: 0;
  transition: background-color 0.2s;
}

.page-message-success a.confirmation-button {
  background-color: var(--color-medium-green);
}

.page-message-success a.confirmation-button:hover {
  background-color: var(--button-green-hover);
}

.page-message-success a.delete-button {
  background-color: var(--color-medium-pink);
}

.page-message-success a.delete-button:hover {
  background-color: var(--button-pink-hover);
}

.page-message-success main img {
  margin-left: 12.2rem;
}
