#page-orphanage {
  display: flex;
  min-height: 100vh;
}

#page-orphanage main {
  flex: 1;
}

.orphanage-details {
  width: 700px;
  margin: 6.4rem auto;

  background: var(--text);
  border: 0.1rem solid var(--border);
  border-radius: 2rem;

  overflow: hidden;
}

.orphanage-details > img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.orphanage-details .images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;

  margin: 1.6rem 4rem 0;
}

.orphanage-details .images button {
  border: 0;
  height: 8.8rem;
  background: none;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  outline: none;

  opacity: 0.6;
}

.orphanage-details .images button.active {
  opacity: 1;
}

.orphanage-details .images button img {
  width: 100%;
  height: 8.8rem;
  object-fit: cover;
}

.orphanage-details .orphanage-details-content {
  padding: 80px;
}

.orphanage-details .orphanage-details-content h1 {
  color: var(--title);
  font-size: 5.4rem;
  line-height: 5.4rem;
  margin-bottom: 0.8rem;
}

.orphanage-details .orphanage-details-content p {
  line-height: 2.8rem;
  color: var(--title);
  margin-top: 2.4rem;
}

.orphanage-details .orphanage-details-content .map-container {
  margin-top: 6.4rem;
  background: var(--map-background);
  border: 1px solid var(--map-border);
  border-radius: 2rem;
}

.orphanage-details .orphanage-details-content .map-container footer {
  padding: 2rem 0;
  text-align: center;
}

.orphanage-details .orphanage-details-content .map-container footer a {
  line-height: 2.4rem;
  color: var(--color-dark-blue);
  text-decoration: none;
}

.orphanage-details
  .orphanage-details-content
  .map-container
  .leaflet-container {
  border-bottom: 0.1rem solid var(--map-inner-border);
  border-radius: 2rem;
}

.orphanage-details .orphanage-details-content hr {
  width: 100%;
  height: 0.1rem;
  border: 0;
  background: var(--line-division);
  margin: 6.4rem 0;
}

.orphanage-details .orphanage-details-content h2 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: var(--title);
}

.orphanage-details .orphanage-details-content .open-details {
  margin-top: 2.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.orphanage-details .orphanage-details-content .open-details div {
  padding: 3.2rem 2.4rem;
  border-radius: 2rem;
  line-height: 2.8rem;
}

.orphanage-details .orphanage-details-content .open-details div svg {
  display: block;
  margin-bottom: 2rem;
}

.orphanage-details .orphanage-details-content .open-details div.hour {
  background: var(--gradient-hour);
  border: 0.1rem solid var(--map-border);
  color: var(--legend);
}

.orphanage-details
  .orphanage-details-content
  .open-details
  div.open-on-weekends {
  background: var(--gradient-weekends);
  border: 0.1rem solid var(--color-soft-green);
  color: var(--color-green);
}

.orphanage-details
  .orphanage-details-content
  .open-details
  div.open-on-weekends.dont-open {
  background: var(--gradient-pink);
  border: 1px solid var(--color-soft-pink);
  color: var(--color-pink);
}

.orphanage-details .orphanage-details-content button.contact-button {
  margin-top: 6.4rem;

  width: 100%;
  height: 6.4rem;
  border: 0;
  cursor: pointer;
  background: var(--button-green);
  border-radius: 2rem;
  color: var(--text);
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
  outline-color: var(--button-green);
}

.orphanage-details .orphanage-details-content button.contact-button svg {
  margin-right: 1.6rem;
}

.orphanage-details .orphanage-details-content button.contact-button:hover {
  background: var(--button-green-hover);
}
